<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PCCircuit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolBuddy">
        <activity
            android:name="com.example.PCCircuit.RecommendedProjectActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.RateStaffActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.ProjectProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.AddProjectActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.ProjectInfoActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.CustomerProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.PCCircuit.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>