<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PCCircuit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolBuddy">
        <activity
            android:name=".ArchivedProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerContact"
            android:exported="false" />
        <activity
            android:name=".ArchivedProjectAdaptor"
            android:exported="false" />
        <activity
            android:name=".CustomProjectProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CustomProjectAdaptor"
            android:exported="false" />
        <activity
            android:name=".CustomProjectInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ArchivedInfoActivity"
            android:exported="true" />
        <activity
            android:name=".RateStaffActivity"
            android:exported="true" />
        <activity
            android:name=".ProjectProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AddProjectActivity"
            android:exported="true" />
        <activity
            android:name=".ProjectInfoActivity"
            android:exported="true" />
        <activity
            android:name=".StaffProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>